.nav{
	background-color: rgb(2, 2, 109);

}
.Image_animation {width:100%; height:0px; padding-bottom: 38%; overflow:hidden; position:relative; }
.Image_animation img{ position:absolute; animation:Image_animation 20s infinite; opacity:0; width: 100%; height: auto;}

@keyframes Image_animation {25%{opacity:1;} 40%{opacity:0;}}
.Image_animation img:nth-child(4){animation-delay:0s;}
.Image_animation img:nth-child(3){animation-delay:5s;}
.Image_animation img:nth-child(2){animation-delay:10s;}
.Image_animation img:nth-child(1){animation-delay:15s;}

.menu{
	display: inline-block;
}

.outer:hover{
	border-bottom: solid rgba(20, 67, 220, 0.61);
	border-bottom-width: 2px;
	border-left: solid rgba(20, 67, 220, 0.61);
	border-left-width: 3px;
	border-bottom-left-radius: 12px;
	transition: 0s;
}
.SOT,.SPT,.SPM,.SLS,.SOT_BRANCH,.SPT_BRANCH,.SLS_BRANCH,.SPM_BRANCH{
	color: rgba(139, 0, 139, 0.836);
	display: flex;
	flex-wrap :wrap;
	font-weight: 600;
	background-color: rgba(245, 245, 245, 0.322);
	padding: 3px;	
}

.BLC{
	color: rgb(204, 0, 255);
	border-bottom-right-radius: 30px;
	border-top-left-radius: 20px;
	background-color: rgba(159, 241, 112, 0.507);
	width: 200px;
	height: 70px;
	padding: 10px;
	margin: 10px;
	transition: 1s;
}
.BLC1{
	
	text-justify: auto;
	color: rgba(139, 0, 139, 0.836);
	/* color: rgb(204, 0, 255); */
	border-bottom-right-radius: 15px;
	border-top-left-radius: 9px;
	background-color: rgba(159, 241, 112, 0.507);
	width: 90px;
	height: 40px;
	margin: 5px;
	transition: 1s;

}
.BLC1:hover{
	font-weight: bold;
	color: white;
	box-shadow: 1px 1px 2px 2px rgba(255, 251, 0, 0.63);
	/* background-color: rgb(204, 0, 255) */
	background-color: rgb(145, 10, 235);
	transition: 1s;
	transform: scale(1.07);

}
.BLC:hover{
	
	font-weight: bold;
	color: white;
	box-shadow: 1px 1px 2px 2px rgba(255, 251, 0, 0.63);
	/* background-color: rgb(204, 0, 255) */
	background-color: rgba(145, 10, 235, 0.726);
	transition: 1s;
	transform: scale(1.07);
}
body{
	background-color: white;
}

/* Dropdown Button */
/* menu buttons */
.dropbtn {
  background-color: #2658b6;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: 500;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

/* The container <div> - needed to position the dropdown content */
.whole_dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  box-shadow: 0px 8px 8px 0px rgba(22, 202, 193, 0.596);
  z-index: 1;
}


/* Links inside the dropdown */
/* ac--> ac--->box  */
.dropdown-content a {
  color: rgb(140, 11, 245);
  padding: 12px 26px;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(204, 0, 255);} /*ac--> ac--> school-back*/

/* Show the dropdown menu on hover */
.whole_dropdown:hover .dropdown-content {display: block;} /*ac---> ac*/

/* Change the background color of the dropdown button when the dropdown content is shown */
.whole_dropdown:hover .dropbtn {background-color:  #1d76fca4;} /*bc-color----> menubtn*/





.dropb {
  background-color: rgba(208, 235, 57, 0.288); /*whole dropdoenbg*/
  color:black;  /*text in main dropdown*/
  padding: 16px;
  font-size: 16px;
  display: inline;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
/*whole dropdown*/
.drop {
  position: relative;
  display: block;
}

/* Dropdown Content (Hidden by Default) */
/* admi-->sot-->box outside bg*/
.drop-content {
  display: none;
  position: absolute;
  background-color: white;
  max-width: 500%;
  box-shadow: 0px 8px 8px 0px rgba(22, 202, 193, 0.596);
  z-index: 1;
}

/* Links inside the dropdown */
/*admissions-->*/
.drop-content b {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.drop-content b:hover {background-color: rgb(231, 20, 20);}

/* Show the dropdown menu on hover */
.drop:hover .drop-content {display: inline-block;width:750px;}
/*sot img-->hover*/
/* Change the background color of the dropdown button when the dropdown content is shown */
.drop:hover .dropb {background-color: #0071f3c2;}

.dro {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
/*small dropdown academics-->academics*/
.dro-content {
  display: none;
  position: absolute;
  background-color: rgba(245, 245, 245, 0.356);
  max-width: 500%;
  box-shadow: 0px 8px 8px 0px rgba(22, 202, 193, 0.596);
  z-index: 1;
}

/* Links inside the dropdown */
.dro-content s {
  color: black;
  font-weight: 200px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dro-content s:hover {background-color: white;}

/* Show the dropdown menu on hover */
.dro:hover .dro-content {display: inline-block;}
/*acdemics--->hover*/
/* Change the background color of the dropdown button when the dropdown content is shown */
.dro:hover .dropb {background-color: #0071f3c2;}